{% extends "listings/carbyrbase.html" %}
{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Complete Signup" %}{% endblock title %}

{% block page %}
<div class="container">
  <h1>{% trans "Sign Up" %}</h1>

  <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %} You will use your {{provider_name}} account to login to
	{{site_name}}. To complete the signup process select a username and confirm that you want to use the email address provided by {{provider_name}}: {% endblocktrans %}</p>

  <form class="form-horizontal" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
	{% csrf_token %}
	{% crispy form horiz-form-helper %}
	{% if redirect_field_value %}
	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	{% endif %}
	<button class="btn btn-default" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>
</div>
{% endblock page %}
