body {
  min-height: 2000px;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.container-nav {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border: 1px solid #eee;
  border-width: 0 0 1px;
  border-radius: 0;
}

h4 {
  margin-top: 25px;
}

.row {
  margin-bottom: 20px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.note {
  padding-top: 15px;
  padding-bottom: 0;
}
