body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.fixed-150 {
	width: 150px;
}
/* have to be .navbar-default to get scrolling around fixed-top position and pulldown on narrow screens
 ... so we have to just override the color & border */
.navbar-default {
	background-color: #ffffff;
	border-width: 0px;
}
.navbar-brand {
  padding: 0px 0px;
}
.navbar-slogan {
	float:left;
	color: #000;
	padding-top: 24px;
	padding-left: 8px;
	font-size: 18px;
	font-weight: bold;
	display: none;
}
.navbar-header {
  height: 70px;
}

h4 {
  margin-top: 25px;
}

.toolbox-row {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

.listing-row {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.button-row {
	padding-top: 25px;
	padding-bottom: 25px;
}

/* see http://dabblet.com/gist/4711695 */
.img-crop,
.img-crop img{
	max-width: 100%;
}
.img-crop{
	overflow: hidden;
	/* remove white-space for inline-block elements */
	letter-spacing: -0.31em; /* webkit */
	letter-spacing: normal; /* reset IE < 8 */
	word-spacing: -0.43em; /* IE < 8 && gecko */
}
.img-crop:before,
.img-crop img{
	display: inline-block;
	vertical-align: middle;
}
.img-crop:before{
	/* pseudo element to vertically align image to */
	content: "";

	/* Magic Number */
	/* Set this to your desired height(to width) ratio */
	padding-top: 75%; /* % of original image width */
}
.img-crop img{
	/* removes(sorta) image from the flow */
	padding-left: 100%;
	margin: -999em -100%;
}
/* end of: gist */
.pic-cell {
/*  max-height: 100px; */
}	

.note {
  padding-top: 15px;
  padding-bottom: 0;
}

.jumbotron {
	margin-bottom: 0px;
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
	background-image: url(../images/jumbotronbackground.jpg);
}
.jumbo-sim {
	background-image: url(../images/sim_banner2.jpg) !important;
}
.jumbo-vette {
	background-image: url(../images/vette_banner2.jpg) !important;
}

.pull-right {
    margin-right: 25px;
}

.zip {
	display: inline-block;
	width: 60px;
	vertical-align: middle;
}

.shortbox {
	display: inline-block;
	width: 60px;
	vertical-align: middle;
}

.label-between {
	display: inline-block;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: normal;
	vertical-align: middle;
}

/*
*****************************************
Added by Stephanie
*****************************************
*/

.thumbnail
{
	padding: 15px;
	min-height: 100%;
	background-color: #eee;
	background-color: rgba(86,61,124,.15);
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);
}

.thumbnail hr
{
	border: 0;
	border-bottom: 1px solid #ddd;
	border-bottom: 1px solid rgba(86,61,124,.2);
}

.thumbnail-photo
{
	max-width: 100%;
	min-height: 160px;
	max-height: 240px;
	overflow: hidden;
	border-radius: 6px;
	position: relative;
}

.thumbnail-photo img
{
	max-width: 100%;
	border-radius: 6px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.thumbnail-photo p
{
	width: 100%;
	height: 100%;
	background: white;
	border: 1px solid #c0c0c0;
	text-align: center;
	padding: 20px;
	border-radius: 6px;
}

.thumbnail .caption
{
	color: inherit;
}

.hidden
{
	display: none;
}

.searchform
{
	margin-top: 30px;
}

.toolbox-container
{
	padding-bottom: 10px;
}

.toolbox
{
	padding: 15px;
	min-height: 100px;
	background-color: #eee;
	background-color: rgba(86,61,124,.15);
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);
	border-radius: 6px;
}

.toolbox h5
{
	margin: 0 0 20px 0;
	text-align: center;
	font-size: 100%;
	font-weight: bold;
}

.toolbox hr
{
	border: 0;
	border-bottom: 1px solid lightgrey;
}

.header-row .glyphicon,
.btn .glyphicon
{
	padding-right: 5px;
}

.note .glyphicon
{
	padding-left: 30px;
	padding-right: 5px;
}

.modal-center
{
	text-align: center;
	margin-bottom: 30px;
}

.btn-link
{
	margin-bottom: 0px;
	buffer-bottom: 0px;
}
.header-row
{
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: -20px;
}

h1 {
	font-size: 120%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.listing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.wideglyph {
	padding-left: 10px;
	padding-right: 10px;
}
.textrow {
	display: block;
}
.asteriskField
{
	display: none;
}
.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

.nav-tabs
{
	margin-bottom: 10px;
}

.fff
{
	margin-bottom: 45px;
}

.leadspan
{
	font-weight: bold;
}
.page-header
{
}
.long {
	display: none;
}
.input-group-moves {
	display: inline-block
}
@media (min-width: 768px) {
	.long {
		display: inline;
	}
	.input-group-moves {
		float:right;
		margin-left: 20px;
	}
	.navbar-slogan {
		display: block !important
	}
	.dynthing {
		width: auto;
		border: 0px;
	}
	.dynthing.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-collapse.in {
		overflow-y: visible;
	}
}
