{% extends "listings/carbyrbase.html" %}
{% load staticfiles %}
{% block title %}About Carbyr{% endblock %}
{% block extrastylesheets %}
	<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
{% endblock extrastylesheets %}
{% block page %}
    <div class="jumbotron jumbo-sim">
      <div class="container">
        <h1>carbyr (open beta)</h1>
		<p>More cars. Better search.</p>
        <p>Find it, drive it, love it!</p>
	  </div>
    </div>

	<div class="container">
	  <div class="row">
        <div class="col-md-4">
          <h2>Thanks for joining us!</h2>
          <p>Welcome to the Carbyr beta test. Enjoy your experience and find great cars!</p>
		  <p>But since this is beta, a few cautions:</p>
		  <ul>
			<li>Not all features are complete</li>
			<li>There may be some bumps as we work</li>
			<li>Inventory is incomplete, but improving</li>
		  </ul>
          <p>Carbyr will be the best way to find your next car but <span class="leadspan"> we need your help.</span> Please give us feedback! Where we are on the right track, let us know. Where we do not yet meet your needs, tell us what to prioritize. When we goof up, tell us so we can fix it! You can send us feedback <a href="mailto:feedback@carbyr.com">via email</a>. You can also reach us on twitter as @onegeelabs (the company behind the Carbyr product).</p>
        </div>
        <div class="col-md-4">
          <h2>About Carbyr</h2>
          <p>Carbyr will provide the world's best car search for car enthusiasts.</p>
		  <p>Note the future tense: Carbyr is in beta... we hope you love it, we think it's useful, and we're working to fulfill that "best" promise every day!</p>
		  <p>We want to be really clear about what we want to do for you -- and what we don't. So here goes:<p>
		  <p><span class="leadspan">Carbyr is NOT another classified site.</span> The world has plenty of those. We don't take classified ad postings, and we don't charge sellers (or dealers) to list vehicles.</p>
		  <p><span class="leadspan">Carbyr is your car search hub.</span> We index car listings from across the web and share them here for the convenience of YOU, the buyer.</p>
		  <p>One Carbyr search scours classified and auction sites, enthusiast forums, and dealership inventories -- more interesting cars than any other single site or app.</p>
		  <p>Note that word "interesting." Carbyr is a Camry-free zone. No car appliances here. We are enthusiasts, and if you are reading this we bet you love cars too. We have left out some of the high-volume blandmobiles to reduce the size of the haystack, and we are committed to building the best search tools to help you sift out a specific needle (to torture the metaphor) to put in your garage. </p>
        </div>
        <div class="col-md-4">
          <h2>Tell me more!</h2>
          <p>Not good with waiting? :) Want to help us make Carbyr better, faster? Want to make sure buyers can find your cars through Carbyr, or to write about us?</p>
		  <p>Email us at <a href="mailto:info@carbyr.com">info@carbyr.com</a> or tweet us at @onegeelabs.</p>
		</div>
      </div>
	</div>
	<hr>
{% endblock page %}
