{% extends "listings/carbyrbase.html" %}
{% load staticfiles %}
{% load account %}

{% block page %}
<div class="container">
  <h1>{% user_display user %}'s Dashboard</h1>
  <h5>Favorite Searches</h5>
  {% if request.session.FQL %}
  {% for search in request.session.FQL %}
  <a class="btn btn-default" href="/cars/?s={{ search.ref }}"><span class="glyphicon glyphicon-heart"></span>{{ search.descr }}</a>
  {% endfor %}
  {% else %}
  <p>You do not have any favorite searches defined. You can save any search as a favorite, which makes it very easy to watch for cars you want. Favorite searches can show you only new (or updated) listings since the last time you checked, or can even push cars to you as soon as they are posted via your choice of email or a custom RSS feed.<span>[some features still being implemented]</span></p>
  {% endif %}
  <h5>Favorite Cars</h5>
  <div class="listings favlist">
	{% if listings %}
	<p>Here are the cars you have saved:</p>
	{% for item in listings %}
	{% include "listings/components/listingrow.html" with item=item %}
	{% endfor %}
	{% else %}
	<p>You have no saved cars. If you mark a car as of interest from the search results it will appear here for easy reference.</p>
	{% endif %}
  </div>
</div>
{% endblock page %}
{% block dialogs %}
{% include "listings/components/listingdialogs.html" %}
{% endblock %}
{% block extrascripts %}
	<script src="{% static 'listings/js/cars.js' %}"></script>
	<script src="{% static 'listings/js/dashboardpage.js' %}"></script>
{% endblock extrascripts %}	
