{% extends "listings/carbyrbase.html" %}
{% load staticfiles %}
{% block title %}Carbyr: coming soon!{% endblock %}
{% block page %}
    <div class="jumbotron">
      <div class="container">
        <h1>Carbyr is coming soon!</h1>
        <p>Watch this space.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/about">Learn more &raquo;</a></p>
      </div>
    </div>
	{% if ogl_alpha_user %}
	<div class="container">
	  <div class="row">
        <div class="col-md-12">
          <h2>Thanks for joining us!</h2>
          <p>Welcome to the Carbyr pre-release. We hope you enjoy Carbyr and through that you find great cars.</p>
		  <p>Click <a href="/cars/">here</a> to access the pre-release car search.
		</div>
	  </div>
	</div>
	{% else %}
	<div>
	  <p></p>
	</div>
	{% endif %}
	<hr>
    <div class="pull-right">
      <footer>
        <p>&copy; Carbyr 2014</p>
      </footer>
    </div>
{% endblock page %}
