{% extends "listings/carbyrbase.html" %}
{% load staticfiles %}
{% block title %}Carbyr: car search for car enthusiasts!{% endblock %}
{% block page %}
    <div class="jumbotron">
      <div class="container">
        <h1>Carbyr</h1>
        <p>Cars are fun; finding the right one wasn't. Until now.</p>
        <p>
		  <a class="btn btn-primary btn-lg" role="button" href="/about/">Tell me more &raquo;</a></p>
		  <a class="btn btn-primary btn-lg" role="button" href="/cars/">Just show me the cars! &raquo;</a></p>
      </div>
    </div>
	<div class="container">
	  <div class="row">
        <div class="col-md-12">
          <h2>Welcome!</h2>
		  <p>Life is too short to drive a boring car. Fortunately Carbyr is here to help!</p>
		  <p>Carbyr brings together all the best and most interesting cars from across the internet. There are hundreds of thousands of interesting cars for sale RIGHT NOW. We went and found them for you, separating the needles from the haystack of tens of millions of boring car appliances clogging dealership lots across the country.</p>
		  <p>All the best cars are now in one place: here on Carbyr.</p>
		  <p>Classic <a href="/cars/?query_string=triumph">Triumphs</a>? Yes. All-electric <a href="/cars/?query_string=tesla">Teslas</a>? You bet. <a href="/cars/?query_string=miata&min_price=1&max_price=10000">Miatas under $10K</a>? YES! There's a great car out there for everyone, including you. <a href="/cars/">Find yours now!</a></p>
		  <p><a href="/about">Learn more</a> about Carbyr, <a href="/cars/">search for your favorite car</a>, or just <a href="/cars/">browse</a> some the internet's most interesting wheels, Carbyr-style...</p>
		</div>
	  </div>
	</div>
	<div class="container">
	  <div class="row">
		{% for query in querylist %}
		<div class="col-md-4">
		  <a href="/cars/?s={{ query.ref }}">
			<div class="query-box">
			  <h3>{{ query.descr }}</h3>
			  <p>{{ query.note }}</p>
			  <div class="imgcropper">
				{% if query.params.pic_href %}
				<img class="img-rounded" src='{{ query.params.pic_href }}'>
				{% else %}
				<p> No photo available. </p>
				{% endif %}
			  </div>
			</div>
		  </a>
		</div>
		{% endfor %}  
	  </div>
	</div>
	<hr>
{% endblock page %}
