{% extends "listings/carbyrbase.html" %}
{% load staticfiles %}
{% block title %}Carbyr: coming soon!{% endblock %}
{% block page %}
    <div class="jumbotron">
      <div class="container">
        <h1>carbyr is in open beta!</h1>
        <p>Connecting enthusiasts to cars.</p>
        <p>
		  <a class="btn btn-primary btn-lg" role="button" href="/about">Learn more &raquo;</a></p>
      </div>
    </div>
	<div class="container">
	  <div class="row">
        <div class="col-md-12">
          <h2>Welcome!</h2>
          <p>We are delighted to have you with us during our beta (pre-release testing) period. Everything is open, if a bit rough in places. Enjoy, and let us know what you think via email to <a href="mailto:feedback@carbyr.com">feedback@carbyr.com</a> or on twitter via @onegeelabs.</p>
		  <p><a href="/about">Learn more</a> or <a href="/cars/">find your next car now!</a></p>
		</div>
	  </div>
	</div>
	<hr>
{% endblock page %}
