{% extends "listings/carbyrbase.html" %}
{% load staticfiles %}
{% block title %}Carbyr: car search for car enthusiasts!{% endblock %}
{% block extrastylesheets %}
<!-- fb conversion code other GE1 -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/en_US/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6026155792534', {'value':'0.01','currency':'USD'}]);
  </script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026155792534&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
{% endblock extrastylesheets %}
{% block page %}
    <div class="jumbotron">
      <div class="container">
        <h1>Carbyr</h1>
        <p>Cars are fun; finding the right one wasn't. Until now.</p>
		<div class="col-md-6">
		  <form class="searchform" role="form" action="/cars/" method="get">
			<div class="form-group">
			  <div class="input-group">
				<label class="sr-only" for="query_string">Quick Search:</label>
				<input type="text" placeholder="quick search..." class="form-control search-sync" name="query_string" id="query_string"/>
				<span class="input-group-btn">
				  <button type="submit" class="btn btn-success">Search</button>
				</span>
			  </div>
			</div>
		  </form>
		</div>
      </div>
    </div>
	<div class="container">
	  <div class="row">
        <div class="col-md-12">
          <h2>Cars worth driving...</h2>
		  <p>Life is too short to drive a boring car. Fortunately Carbyr is here to help!</p>
		  <p>Carbyr brings together all the best and most interesting cars from across the internet. There are hundreds of thousands of interesting cars for sale RIGHT NOW. We went and found them for you, separating the needles from the haystack of tens of millions of boring car appliances clogging dealership lots across the country.</p>
		  <p>Classic <a href="/cars/?query_string=triumph">Triumph</a>? Great choice! All-electric <a href="/cars/?query_string=tesla">Tesla</a>? You bet. <a href="/cars/?query_string=miata&min_price=1&max_price=10000">Miata under $10K</a>? YES! There's a great car out there for everyone, including you. <a href="/cars/">Find yours now!</a></p>
		  <p><a href="/about">Learn more</a> about Carbyr, <a href="/cars/">search for your favorite car</a>, or just <a href="/cars/">browse</a> some the internet's most interesting wheels, Carbyr-style...</p>
		</div>
	  </div>
	</div>
	<div class="container">
	  <div class="row">
		{% for query in querylist %}
		<div class="col-md-4">
		  <a href="/cars/?s={{ query.ref }}">
			<div class="query-box">
			  <h3>{{ query.descr }}</h3>
			  <p>{{ query.note }}</p>
			  <div class="imgcropper">
				{% if query.params.pic_href %}
				<img class="img-rounded" src='{{ query.params.pic_href }}'>
				{% else %}
				<p> No photo available. </p>
				{% endif %}
			  </div>
			</div>
		  </a>
		</div>
		{% endfor %}  
	  </div>
	</div>
	<hr>
{% endblock page %}
