{% extends "listings/listingsbase.html" %}
{% load staticfiles %}
{% block listings %}
	<div class="listings">
	  {% if listings %}
	  {% for item in listings %}
	  {% include "listings/components/listingrow_test.html" with item=item %}
	  {% endfor %}
	  {% else %}
	  <p>No cars... {% if query_mark_date %}Click on 'All listings' to show earlier listings or {% endif %}specify (different) search criteria....</p>
	  {% endif %}
	  {% if next_page_offset %}
	  <div class="hidden">
		<a class="more-listings-link" href="/carsapi/{{ next_page_offset }}/50?q={{query_ref|default:"_default"}}{% if new_only %}&show=new_only{% endif %}"></a>
	  </div>
	  {% endif %}
	</div>
{% endblock listings %}

