{% extends "listings/carbyrbase.html" %}
{% load staticfiles %}
{% block title %}Carbyr: enthusiast search{% endblock title %}
{% block page %}
	<div class="container">
{% block header %}
	<div class="page-header">
	  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	  <form class="searchform" role="form" action="{{ abs_url }}" method="get">
		<ul class="nav nav-tabs" role="tablist">
		  <li class="active"><a href="#simple" role="tab" data-toggle="tab">Simple</a></li>
		  <li><a href="#advanced" role="tab" data-toggle="tab">Advanced</a></li>
		  <li><a href="#saved" role="tab" data-toggle="tab">Saved</a></li>
		</ul>
		<div class="tab-content">
		  <div class="tab-pane active" id="simple">
			{% csrf_token %}
			<div class="form-group">
			  <div class="input-group">
				<label class="sr-only" for="query_string">Search criteria:</label>
				<input type="text" placeholder="find me..." class="form-control search-sync" name="query_string" id="query_string"/>
				<span class="input-group-btn">
				  <button type="submit" class="btn btn-success">Search</button>
				</span>
			  </div>
			</div>
		  </div>
		  <div class="tab-pane" id="advanced">
			{% csrf_token %}
			<div class="form-group">
			  <div class="input-group">
				<label class="sr-only" for="query_string_dup">Search criteria:</label>
				<input type="text" placeholder="find me..." class="form-control search-sync" name="query_string_dup" id="query_string_dup"/>
				<span class="input-group-btn">
				  <button type="submit" class="btn btn-success">Search</button>
				</span>
			  </div>
			</div>
			<div class="col-sm-4">
			  <input type="checkbox" class="checkbox-inline" name="limit" id="limit"/>
			  <label for="limit" class="label-between">Limit to cars near</label>
			  <label for="zip" class="sr-only">zipcode</label>
 			  <input type="text" class="zip" placeholder="zip code" class="form-control" name="zip" id="zip" size="20"/>
			</div>
			<div class="col-sm-4">
			  <p><i>Many more options coming soon...</i></p>
			</div>
		  </div>
		  <div class="tab-pane" id="saved">
			{% if favorites %}
			<h5>Favorite Searches</h5>
			{% for search in favorites %}
			<a class="btn btn-default" href="{{ abs_url }}?s={{ search.ref }}"><span class="glyphicon glyphicon-heart"></span>{{ search.descr }}</a>
			{% endfor %}
			{% endif %}
			{% if recents %}
			<h5>Recent Searches</h5>
			{% for search in recents %}
			<a class="btn btn-default" href="{{ abs_url }}?s={{ search.ref }}"><span class="glyphicon glyphicon-time"></span>{{ search.descr }}</a>
			{% endfor %}
			{% endif %}
			{% if more_recents %}
			<div class="btn-group">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				More Recents... <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
				{% for search in more_recents %}
				<li><a href="{{ abs_url }}?s={{ search.ref }}">{{ search.descr }}</a></li>
				{% endfor %}
			  </ul>
			</div>
			{% endif %}
			{% if suggestions %}
			<h5>More Ideas</h5>
			{% for search in suggestions %}
			<a class="btn btn-default" href="{{ abs_url }}?s={{ search.ref }}"><span class="glyphicon glyphicon-ok-circle"></span>{{ search.descr }}</a>
			{% endfor %}
			{% endif %}
		  </div>
		</div>
	  </form>
	</div>
	<div class="row">
	  <div class="col-xs-7">
		{% if query_type == 'F' %}Favorite search:{% else %}Showing:{% endif %} {{ query_descr }}
	  </div>
	  <div class="col-xs-5" align="right">
		{% if query_ref %}
		{% if query_type == 'F' %}
		<button class="btn-link" data-toggle="modal" data-target="#unSaveModal">
		  <span class="glyphicon glyphicon-minus"></span>Remove <span class="long">this search from your favorites</span>
		</button>
		{% elif query_type != 'D' %}
		<button class="btn-link" data-toggle="modal" data-target="#saveModal">
		  <span class="glyphicon glyphicon-plus"></span>Save <span class="long">this search as a favorite</span>
		</button>
		{% endif %}
		{% endif %}
	  </div>
	</div>
	<div class="row">
	</div>
	{% if query_type == 'F' %}
	<div class="row topspace">
	  <div class="col-xs-12">
		<form class="form-inline" role="form" action="{{ abs_url }}" method="get">
		  <a class="btn btn-default" data-toggle="modal" data-target="#markReadModal">
			<span class="glyphicon glyphicon-ok"></span>Mark as seen
		  </a>
		  <div class="form-group">
			<div class="input-group">
			  {% csrf_token %}
			  <input type="hidden" name="query_ref" value="{{ query_ref }}"/>
			  <input type="hidden" name="action" value="" id="showaction"/>
			</div>
		  </div>
		  {% if query_mark_date %}
		  <div class="form-group">
		  <div class="btn-group" data-toggle="buttons">
			<label class="btn btn-primary showcontrol{% if not show == 'new_only' %} active{% endif %}">
			  <input type="radio" name="actionradio" act="all_cars" id="radio_new_only" href="/cars" autocomplete="off" checked/>All listings
			</label>
			<label class="btn btn-primary showcontrol{% if show == 'new_only' %} active{% endif %}">
			  <input type="radio" name="actionradio" act="new_only" id="radio_all_cars" autocomplete="off"/> <span class="long">New </span>since {{ query_mark_date }}
			</label>
		  </div>
		  </div>
		  {% endif %}
		</form>
	  </div>
	</div>
	{% endif %}
	<hr size="1" style="clear: both;" />
{% endblock header %}
{% block listings %}
	<div class="listings">
	  {% if listings %}
	  {% for item in listings %}
	  {% include "listings/components/listingrow.html" with item=item %}
	  {% endfor %}
	  {% else %}
	  <p>No cars... {% if query_mark_date %}Click on 'All listings' to show earlier listings or {% endif %}specify (different) search criteria....</p>
	  {% endif %}
	  {% if next_page_offset %}
	  <div class="hidden">
		<a class="more-listings-link" href="/carsapi/{{ next_page_offset }}/50{% if new_only %}?show=new_only{% endif %}"></a>
	  </div>
	  {% endif %}
	</div>
{% endblock listings %}
	</div>
{% endblock page %}
{% block extrascripts %}
	<script src="{% static 'listings/js/waypoints.min.js' %}"></script>
	<script src="{% static 'listings/js/waypoints-infinite.min.js' %}"></script>
	<script src="{% static 'listings/js/cars.js' %}"></script>
	<script src="{% static 'listings/js/searchpage.js' %}"></script>
{% endblock extrascripts %}	
{% block dialogs %}
{% include "listings/components/listingdialogs.html" %}
{% endblock dialogs %}
