{% extends "listings/carbyrbase.html" %}
{% load staticfiles %}
{% block title %}Carbyr: enthusiast search{% endblock title %}
{% block page %}
	<div class="container">
{% block header %}
	<div class="page-header">
	  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	  <form class="searchform" role="form" action="{{ abs_url }}" method="get">
		<ul class="nav nav-tabs" role="tablist">
		  <li class="active"><a href="#simple" role="tab" data-toggle="tab">Simple</a></li>
		  <li><a href="#advanced" role="tab" data-toggle="tab">Advanced</a></li>
		  <li><a href="#saved" role="tab" data-toggle="tab">Saved</a></li>
		</ul>
		<div class="tab-content">
		  <div class="tab-pane active" id="simple">
			{% csrf_token %}
			<div class="form-group">
			  <div class="input-group">
				<label class="sr-only" for="query_string">Search criteria:</label>
				<input type="text" placeholder="find me..." class="form-control search-sync" name="query_string" id="query_string"/>
				<span class="input-group-btn">
				  <button type="submit" class="btn btn-success">Search</button>
				</span>
			  </div>
			</div>
		  </div>
		  <div class="tab-pane" id="advanced">
			{% csrf_token %}
			<div class="form-group">
			  <div class="input-group">
				<label class="sr-only" for="query_string_dup">Search criteria:</label>
				<input type="text" placeholder="find me..." class="form-control search-sync" name="query_string_dup" id="query_string_dup"/>
				<span class="input-group-btn">
				  <button type="submit" class="btn btn-success">Search</button>
				</span>
			  </div>
			</div>
			<div class="col-sm-4">
			  <input type="checkbox" class="checkbox-inline" name="limit" id="limit"/>
			  <label for="limit" class="label-between">Limit to cars near</label>
			  <label for="zip" class="sr-only">zipcode</label>
 			  <input type="text" class="zip" placeholder="zip code" class="form-control" name="zip" id="zip" size="20"/>
			</div>
			<div class="col-sm-4">
			  <p><i>Many more options coming soon...</i></p>
			</div>
		  </div>
		  <div class="tab-pane" id="saved">
			{% if favorites %}
			<h5>Favorite Searches</h5>
			{% for search in favorites %}
			<a class="btn btn-default" href="{{ abs_url }}?s={{ search.ref }}"><span class="glyphicon glyphicon-heart"></span>{{ search.descr }}</a>
			{% endfor %}
			{% endif %}
			{% if recents %}
			<h5>Recent Searches</h5>
			{% for search in recents %}
			<a class="btn btn-default" href="{{ abs_url }}?s={{ search.ref }}"><span class="glyphicon glyphicon-time"></span>{{ search.descr }}</a>
			{% endfor %}
			{% endif %}
			{% if more_recents %}
			<div class="btn-group">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				More Recents... <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
				{% for search in more_recents %}
				<li><a href="{{ abs_url }}?s={{ search.ref }}">{{ search.descr }}</a></li>
				{% endfor %}
			  </ul>
			</div>
			{% endif %}
			{% if suggestions %}
			<h5>More Ideas</h5>
			{% for search in suggestions %}
			<a class="btn btn-default" href="{{ abs_url }}?s={{ search.ref }}"><span class="glyphicon glyphicon-ok-circle"></span>{{ search.descr }}</a>
			{% endfor %}
			{% endif %}
		  </div>
		</div>
	  </form>
	</div>
	<div class="row header-row">
	  <div class="col-md-8">
		{% if query_type == 'F' %}Favorite search:{% else %}Showing:{% endif %} {{ query_descr }}
	  </div>
	  <div class="col-md-4">
		{% if query_ref %}
		{% if query_type == 'F' %}
		<button class="btn-link" data-toggle="modal" data-target="#unSaveModal">
		  <span class="glyphicon glyphicon-minus"></span>Remove <span class="long">this from your list of favorites</span>
		</button>
		{% elif query_type != 'D' %}
		<button class="btn-link" data-toggle="modal" data-target="#saveModal">
		  <span class="glyphicon glyphicon-plus"></span>Save <span class="long">this search as a favorite</span>
		</button>
		{% endif %}
		{% endif %}
	  </div>
	</div>
	<div class="row">
	</div>
	<div class="row">
	  <div class="col-md-8">
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-primary {%if not newonly %}active{% endif %}">
			<input type="radio" name="options" id="option1" href="/cars" autocomplete="off" checked/>All listings
		  </label>
		  <label class="btn btn-primary {%if newonlt %}active{% endif %}">
			<input type="radio" name="options" id="option2" autocomplete="off"/> New listings only
		  </label>
		</div>
		<button class="btn btn-default" data-toggle="modal" data-target="#markReadModal">
		  <span class="glyphicon glyphicon-ok"></span>Mark as seen
		</button>
	  </div>
	</div>
	<hr size="1" style="clear: both;" />
{% endblock header %}
{% block listings %}
	<div class="listings">
	  {% if listings %}
	  {% for item in listings %}
	  <div class="row listing-row" id="{{ item.id }}">
		<a href="{{ item.listing_href }}">
		  <div class="col-md-4 listing">
			<div class="imgcropper">
			  {% if item.since == 'New' %}
			  <img src="{% static 'listings/images/logosmall.png' %}" class="popicon">
			  {% elif item.since == 'Updated' %}
			  <p class="popicon">UPDATED</p>
			  {% endif %}
			  {% if item.pic_href %}
			  <img class="img-rounded" src='{{ item.pic_href }}'>
			  {% else %}
			  <p> No photo available. </p>
			  {% endif %}
			</div>
		  </div>
		  <div class="col-md-3 listing">
			<p><strong>{{ item.model_year }} {{ item.make }} {{ item.model}}</strong></p>
			<p><strong>{{ item.price }}</strong></p>
			{% if item.location_text %}
			<p>{{item.location_text}} ({{ item.source }})</p>
			{% else %}
			<p>({{ item.source }})</p>
			{% endif %}
		  </div>
		  {% if user.is_authenticated %}
		  <div class="col-md-4 listing">
			{{ item.listing_text }}
		  </div>
		</a>
		  <div class="col-md-1 listing">
			{% if item.favorite %}
			<button class="btn-link unfav" listingid="{{ item.id }}"><span class="glyphicon glyphicon-trash wideglyph"></span></button>
			{% else %}
			<button class="btn-link addfav" listingid="{{ item.id }}"><span class="glyphicon glyphicon-heart wideglyph"></span></button>
			{% endif %}
			<button class="btn-link flag" listingid="{{ item.id }}"><span class="glyphicon glyphicon-thumbs-down wideglyph"></span></button>
		  </div>
		  {% else %}
		  <div class="col-md-4 listing">
			{{ item.listing_text }}
		  </div>
		</a>
		  {% endif %}
	  </div>
	  {% endfor %}
	  {% else %}
	  <p>No cars... specify (different) search criteria....</p>
	  {% endif %}
	  {% if next_page_offset %}
	  <div class="hidden">
		<a class="more-listings-link" href="/carsapi/{{ next_page_offset }}/50"></a>
	  </div>
	  {% endif %}
	</div>
{% endblock listings %}
	</div>
{% endblock page %}
{% block extrascripts %}
	<script src="{% static 'listings/js/waypoints.min.js' %}"></script>
	<script src="{% static 'listings/js/waypoints-infinite.min.js' %}"></script>
	<script src="{% static 'listings/js/cars.js' %}"></script>
{% endblock extrascripts %}	
{% block dialogs %}
	<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="saveModalLabel">Save this as a favorite search</h4>
		  </div>
		  <div class="modal-body">
			<p>Favorite searches make it easy to manage your car search. As suitable cars enter (and leave) the market this list will automatically update; check back any time. </p>
			<p>You can also choose to receive updates on saved searches through RSS or email [coming soon!].</p>
		  </div>
		  <form role="form" action="{{ abs_url }}" method="post">
			{% csrf_token %}
			<input type="hidden" name="action" value="save_query">
			<input type="hidden" name="query_ref" value="{{ query_ref }}"/>
			<div class="modal-center">
			  <label class="modal-label" for="query_descr">Name the search:</label>
			  <input type="text" value="{{ query_descr }}" name="query_descr" id="query_descr"/>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			  <button type="submit" class="btn btn-primary">Save</button>
			</div>
		  </form>		
		</div>
	  </div>
	</div>
	<div class="modal fade" id="unSaveModal" tabindex="-1" role="dialog" aria-labelledby="unSaveModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="unSaveModalLabel">Confirm</h4>
		  </div>
		  <div class="modal-body">
			<p>Confirm removing favorite search: {{ query_descr }}? </p>
		  </div>
		  <form role="form" action="{{ abs_url }}" method="post">
			{% csrf_token %}
			<input type="hidden" name="action" value="unsave_query">
			<input type="hidden" name="query_ref" value="{{ query_ref }}"/>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			  <button type="submit" class="btn btn-primary">Confirm</button>
			</div>
		  </form>		
		</div>
	  </div>
	</div>
	<div class="modal fade" id="markReadModal" tabindex="-1" role="dialog" aria-labelledby="markReadModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="markReadModalLabel">Confirm</h4>
		  </div>
		  <div class="modal-body">
			<p>Mark these cars as having been seen in the {{ query_descr }} search?</p>
			<p>If you do, these cars will not be shown by default when you run this query again in the future. However, you can always display all matching cars, including ones marked as seen, by clicking on the 'All listings' button.)</p>
		  </div>
		  <form role="form" action="{{ abs_url }}" method="post">
			{% csrf_token %}
			<input type="hidden" name="action" value="mark_read">
			<input type="hidden" name="query_ref" value="{{ query_ref }}"/>
			<input type="hidden" name="query_date" value="{{ timestamp }}"/>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			  <button type="submit" class="btn btn-primary">Confirm</button>
			</div>
		  </form>		
		</div>
	  </div>
	</div>
	{% endblock dialogs %}
