{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../favicon.ico"-->

    <title>Carbyr: car search for car enthusiasts</title>

	<link rel="stylesheet" type="text/css" href="{% static 'listings/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'listings/css/listings.css' %}" />

  </head>

  <body>

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a href="/"><img src="{% static 'listings/images/carbyr_logo5.gnp' %}"></a>
		</div>
		<div class="navbar-collapse collapse">
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="./about">About</a></li>
			<li><a href="./">Sign In</a></li>
		  </ul>
		</div>
	  </div>
	</div>

    <div class="jumbotron">
      <div class="container">
        <h1>Carbyr [miatas only]</h1>
		<p>Welcome to Carbyr early access for Miatas @ MRLS attendees!</p>
        <p>This weekend Mazda showed you their latest MX-5, the ND.</p>
        <p>Now Carbyr shows you the best way to find your next NA, NB, or NC.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>About Carbyr</h2>
          <p>Carbyr will be providing car search for car enthusiats. Note the future tense: Carbyr is pre-launch!</p>
        </div>
        <div class="col-md-4">
          <h2>Feeback welcomed</h2>
          <p>OK, more than welcomed; we want to help you find your next car. If we're doing something right, please let us know. If we are not yet providing what you need, tell us what to prioritize. If we goofed up, tell us so we can fix it! You can send us feedback <a href="mailto:tellus@carbyr.com">via email</a>. You can also reach us on twitter as @onegeelabs (the company behind the carbyr product).</p>
       </div>
        <div class="col-md-4">
          <h2>Mind the mess!</h2>
          <p>Since Carbyr is pre-release, you may see some unexpected behavior. Listings may not update immediately, bad listings may be more prone to slipping through, etc. We apologize and hope that Carbyr still provides value. And please, send us that <a href="mailto:tellus@carbyr.com">feedback!</a> But we do have to say, for all you lawyers out there, that we cannot make any promises of merchantability. Use Carbyr at your own risk!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>What's with all the miatas?</h2>
          <p>Ah, you noticed? :) When fully released, Carbyr will provide search for all cars. This early release (call it "alpha") site is miatas-only. Consider this a technology demonstration... and a great way to find what we think is the world's most iconic sportscar. If you want an rx-7 or a cx-9 (or even a 911), sign up <here> to get notified when we open more functionality.</p>
        </div>
        <div class="col-md-4">
          <h2>Great, I want more!</h2>
          <p>Carbyr will be expanding rapidly with more cars and more functionality. Sign up to get an email notification when we open more functionality or follow us on twitter.
          <p><a class="btn btn-default" href="#" role="button">Email &raquo;</a></p>
          <p><a class="btn btn-default" href="#" role="button">Twitter &raquo;</a></p>
		</div>
        <div class="col-md-4">
          <h2>Tell me more, right now!</h2>
          <p>Not good with waiting? :) Want to help us make carbyr better, faster? Want to get your cars into carbyr? Want to write about us? You can <a href="mailto:info@carbyr.com">email us</a> or tweet us at @onegeelabs. Speaking of twitter, this is a semi-private invite. It's OK to share with your brother, but we're not quite ready for the whole world to land on us at once. Please do NOT share widely about Carbyr on social media yet.</p>
		</div>
    </div> <!-- /container -->

	<hr>

	<div class="pull-right">
      <footer>
        <p>&copy; Carbyr 2014</p>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'listings/js/bootstrap.min.js' %}"></script>
  </body>
</html>
