{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../favicon.ico"-->

    <title>Carbyr: car search for car enthusiasts</title>

	<link rel="stylesheet" type="text/css" href="{% static 'listings/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'listings/css/listings.css' %}" />

  </head>

  <body>

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a href="/cars/miatas/"><img src="{% static 'listings/images/carbyr_logo5.gnp' %}"></a>
		</div>
		<div class="navbar-collapse collapse">
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="./about">About</a></li>
		  </ul>
		</div>
	  </div>
	</div>

    <div class="jumbotron">
      <div class="container">
        <h1>Carbyr [miatas only]</h1>
		<p>Welcome to Carbyr early access for Miatas @ MRLS attendees!</p>
        <p>This weekend Mazda shows you their latest MX-5, the ND.</p>
        <p>Carbyr shows you the best way to find your next NA, NB, or NC.*</p>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <h2>About Carbyr</h2>
          <p>Carbyr will be providing car search for car enthusiats. Note the future tense: Carbyr is pre-launch!</p>
          <p>Your feedback to this early release is encouraged. We want to help you find your next car. If we're doing something right, please let us know. If we are not yet providing what you need, tell us what to prioritize. If we goofed up, tell us so we can fix it! You can send us feedback <a href="mailto:feedback@carbyr.com">via email</a>. You can also reach us on twitter as @onegeelabs (the company behind the carbyr product).</p>		  <p>
        </div>
        <div class="col-md-4">
          <h2>What's with all the miatas?</h2>
          <p>Ah, you noticed? :) When fully released, Carbyr will provide search for all cars. This early release (call it "alpha") site is miatas-only. Consider this a technology demonstration... and a great way to find what we think is the world's most iconic sportscar. </p>
		  <p>If you want an rx-7 or a 911, send us a note at <a href="mailto:feedback@carbyr.com">feedback@carbyr.com</a> and we will send you a followup email when we open more functionality. Or, you can follow us on twitter @onegeelabs.</p>
        </div>
        <div class="col-md-4">
          <h2>Tell me more!</h2>
          <p>Not good with waiting? :) Want to help us make carbyr better, faster? Want to get your cars into carbyr? Want to write about us?</p>
		  <p>You can <a href="mailto:info@carbyr.com">email us</a> or tweet us at @onegeelabs. Speaking of twitter, this is a semi-private invite. It's OK to share with your brother, but we're not quite ready for the whole world to land on us at once. Please do us the favor of not sharing widely about Carbyr on social media... yet!</p>
		</div>
    </div> <!-- /container -->

	<hr>

      <footer>
		<div class="pull-left">
		  * which is not to say we don't love the ND -- we can't wait to get our hands on one! But in the mean time... zoom zoom!
		  </div>
	<div class="pull-right">
        <p>&copy; Carbyr 2014</p>
    </div>
      </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'listings/js/bootstrap.min.js' %}"></script>
  </body>
</html>
