{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Carbyr: enthusiast search 2</title>

	<link rel="stylesheet" type="text/css" href="{% static 'listings/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'listings/css/l2.css' %}" />
	
	<script type="text/javascript">
		$(document).ready(function () {
			$("#hideshow").click(function () {
				$("#searchtools").toggleClass("hidden unhidden");
			});
		});
	</script>
	
  </head>

  <body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a href="/cars/"><img src="images/carbyr_logo5.png"></a>
		</div>
		<div class="navbar-collapse collapse">
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="about">About</a></li>
		  </ul>
		</div>
	  </div>
	</div>
	<div class="container">
	  <div class="page-header">
		<h2> Cars for enthusiasts...</h2>
		

		<!--<form class="" role="form" action="/cars/miatas/" method="get">
		  <input type='hidden' name='csrfmiddlewaretoken' value='4LsBdBU4Fk9TpNPZXx0OuWdSnGciVkVv' />
		  <div class="form-group">
			<div class="input-group">
			  <label class="sr-only" for="search_string">Search criteria:</label>
			  <input type="text" placeholder="find me..." class="form-control" name="search_string" id="search_string"/>
			  <span class="input-group-btn">
				<button type="submit" class="btn btn-success">Search</button>
			  </span>
			</div>
			<div class="input-group form-inline">
			  <input type="checkbox" class="checkbox-inline" name="limit" id="limit">
			  <label for="limit" class="label-between">Limit to cars near</label>
			  <label type="text" for="zip" class="sr-only">zipcode</label>
 			  <input type="text" class="zip" placeholder="zip code" class="form-control" name="zip" id="zip" size="20"/>
			</div>
		  </div>
		</form>
		<div>
		  <p class="text-info note">showing: recently-listed cars</p>
		</div>
	  </div>-->
	  
		<form role="form" action="/cars/miatas/" method="get" class="searchform">
			<input type='hidden' name='csrfmiddlewaretoken' value='4LsBdBU4Fk9TpNPZXx0OuWdSnGciVkVv' />
			<div class="form-group">
				<div class="input-group" style="float: right; margin-left: 20px;">
					<a class="btn btn-default" id="hideshow" value="hide/show" data-toggle="button"><span class="glyphicon glyphicon-collapse-down"></span> Search tools</a>
				</div>
				<div class="input-group">
					<!--<label class="sr-only" for="search_string">Search criteria:</label>  For some reason, this messes up the rounded corners  -->
					<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
					<input type="text" class="form-control" name="search_string" id="search_string" placeholder="find me...">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-success">Search</button>
					</span>
				</div>
			</div>
		</form>
		
		<div id="searchtools" class="unhidden">
		
			<div class="col-xs-12 col-sm-12 col-md-5 toolbox-container">
				<div class="toolbox">
					<h5>Recent and Saved Searches</h5>
					<!-- Recent -->
					<p><a href="#"><span class="glyphicon glyphicon-time"></span>miata with engine swap</a></p>
					<p><a href="#"><span class="glyphicon glyphicon-time"></span>miata ls3</a></p>
					<p><a href="#"><span class="glyphicon glyphicon-time"></span>miata turbo</a></p>
					<p><a href="#"><span class="glyphicon glyphicon-time"></span>miata mp62</a></p>
					<hr size="1" />
					
					<!-- Saved -->
					<p><a href="#"><span class="glyphicon glyphicon-floppy-disk"></span>1994-1997 Miata</a></p>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-4 toolbox-container">
				<div class="toolbox">
					<h5>Advanced Search</h5>
					<form role="form">
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox"> Limit to area:
									<input type="text" placeholder="City, State, or ZIP" class="form-control" name="search_area" id="search_area" size="20"/>
								</label>
							</div>
						</div>
						<p><strong>Search sources:</strong></p>
						<div class="form-group">
							<div class="checkbox source">
								<label>
									<input type="checkbox" checked>Craigslist
								</label>
							</div>
							<div class="checkbox source" checked="checked">
								<label>
									<input type="checkbox" checked>eBay
								</label>
							</div>
							<div class="checkbox source" checked="checked">
								<label>
									<input type="checkbox" checked>AutoTrader
								</label>
							</div>
							<div class="checkbox source" checked="checked">
								<label>
									<input type="checkbox" checked>Bring a Trailer
								</label>
							</div>
							<div class="checkbox source" checked="checked">
								<label>
									<input type="checkbox" checked>Vintage Wheels
								</label>
							</div>
						</div>
					</form>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-3 toolbox-container">
				<div class="toolbox">
					<h5>Help and Suggestions</h5>
					<p>Make your searches detailed - but not too specific</p>
					<p>Add model years or features to your search criteria</p>
					<p>If you're not finding enough results, try widening your search location</p>
				</div>
			</div>
		
		</div>
		
		<hr size="1" style="clear: both;" />

	  <div class="listings">

			<div class="row">

				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
						<a href='http://sfbay.craigslist.org/sby/cto/4674985613.html'>
							<div class="thumbnail-photo">
								<p>No photo available.</p>
							</div>
							<div class="caption">
								<p><strong>1994 Mazda Miata</strong></p>
								<p><strong>$1,500.00</strong></p>
								<p>San Jose, CA (craigslist)</p>
								<hr size="1" />
								<p>1994 Mazda Miata M edition</p>
							</div>
						</a>
					</div>
				</div>
		  
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
						<a href='http://sfbay.craigslist.org/sby/cto/4673589422.html'>
							<div class="thumbnail-photo">
								<img src='http://images.craigslist.org/00Y0Y_g9EEXbBZrcS_600x450.jpg'>
							</div>
							<div class="caption">
								<p><strong>2000 Mazda Miata MX-5 Special Edition Convertible 2D</strong></p>
								<p><strong>$6,200.00</strong></p>
								<p>San Jose, CA (craigslist)</p>
								<hr size="1" />
								<p>2000 Mazda Miata MX-5 Special Edition Convertible 2D , Original Owner</p>
							</div>
						</a>
					</div>
				</div>
		  
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
						<a href='http://sfbay.craigslist.org/sby/cto/4675048910.html'>
							<div class="thumbnail-photo">
								<img src='http://images.craigslist.org/00R0R_l0toiQXChdc_600x450.jpg'>
							</div>
							<div class="caption">
								<p><strong>2009 Mazda Miata</strong></p>
								<p><strong>$5,800.00</strong></p>
								<p>Milpitas, CA (craigslist)</p>
								<hr size="1" />
								<p>2000 Mazda Miata LS MX5 fully loaded clean title Bike rack included</p>
							</div>
						</a>
					</div>
				</div>
		  
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
						<a href='http://sfbay.craigslist.org/sby/cto/4673405330.html'>
							<div class="thumbnail-photo">
								<img src='http://images.craigslist.org/01212_gPU9gjPMIUj_600x450.jpg'>
							</div>
							<div class="caption">
								<p><strong>2002 Mazda MX-5 MIATA</strong></p>
								<p><strong>$4,500.00</strong></p>
								<p>Fremont, CA (craigslist)</p>
								<hr size="1" />
								<p>2002 MAZDA MX-5 MIATA LS</p>
							</div>
						</a>
					</div>
				</div>
			
			</div>
		  
		    <div class="row">

				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
						<a href='http://sfbay.craigslist.org/eby/ctd/4673974200.html'>
							<div class="thumbnail-photo">
								<img src='http://images.craigslist.org/00i0i_cQpQSkD2SqB_600x450.jpg'>
							</div>
							<div class="caption">
								<p><strong>2008 Mazda Miata</strong></p>
								<p><strong>$15,995.00</strong></p>
								<p>Newark, CA (craigslist)</p>
								<hr size="1" />
								<p>2008 Mazda Miata Red For Sale..Great DEAL</p>
							</div>
				  		</a>
					</div>
				</div>
		  
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
						<a href='http://sfbay.craigslist.org/sby/cto/4673438893.html'>
							<div class="thumbnail-photo">
								<img src='http://images.craigslist.org/00O0O_aduKeqFk96S_600x450.jpg'>
							</div>
							<div class="caption">
								<p><strong>1994 Mazda mx-5 miata</strong></p>
								<p><strong>$999,999.00</strong></p>
								<p>San Francisco, CA (craigslist)</p>
								<hr size="1" />
								<p>94 miata - hollister<p>
							</div>
						</a>
					</div>
				</div>
		  
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
						<a href='http://www.hemmings.com/classifieds/dealer/mazda/mx5_miata/1684348.html'>
							<div class="thumbnail-photo">
								<img src='http://assets.hemmings.com/uimage/29018581-770-0@2X.jpg?rev=1'>
							</div>
							<div class="caption">
								<p><strong>1990 Mazda MX5 Miata</strong></p>
								<p><strong>$8,500.00</strong></p>
								<p>Oakland, CA (Hemmings)</p>
								<hr size="1" />
								<p>1990 Mazda MX5 Miata</p>
							</div>
						</a>
					</div>
				</div>
		  
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
						<a href='http://sfbay.craigslist.org/eby/cto/4673246834.html'>
							<div class="thumbnail-photo">
								<img src='http://images.craigslist.org/00V0V_dTEpgtYYMyU_600x450.jpg'>
							</div>
							<div class="caption">
								<p><strong>2002 Mazda Miata LS</strong></p>
								<p><strong>$5,990.00</strong></p>
								<p>Pleasant Hill, CA (craigslist)</p>
								<hr size="1" />
								<p>2002 Mazda Miata LS</p>
							</div>
			  			</a>
					</div>
				</div>
				
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'listings/js/bootstrap.min.js' %}"></script>
  </body>
</html>
