{% extends "account/accountbase.html" %}
{% load i18n %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block tabcontents %}
<div class="tab-content">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="form-horizontal">
        {% csrf_token %}
        {% crispy form horiz-form-helper %}
	  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-6">
		  <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
		</div>
	  </div>
    </form>
</div>
{% endblock %}
