{% extends "account/accountbase.html" %}
{% load i18n %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block tabcontents %}
<div class="tab-content">
    <h1>{% trans "Set Password" %}</h1>
	<p>A password is not required if you prefer to log in using a social network (facebook, google, etc) or other supported identity provider.</p>
	<p>Setting a password here with Carbyr is only needed if you prefer not to connect to any external identity provider.</p>
	<form method="POST" action="{% url 'account_set_password' %}" class="form-horizontal">
      {% csrf_token %}
	  {% crispy form horiz-form-helper %}
	  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-6">
		  <button class="btn btn-primary" type="submit" name="action">{% trans "Set Password" %}</button>
		</div>
	  </div>
	</form>
</div>
 {% endblock %}
