{% extends "account/accountbase.html" %}
{% load i18n %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block tabcontents %}
<div class="tab-content">
  <h1>{% trans "Profile Information" %}</h1>
{% if user.profile.avatar_url %}
    <h3>Picture</h3>
	<p class="picture-frame">
	  <img alt="" src="{{user.profile.avatar_url}}" style="width: 256px; height: 256px">
	</p>
{% endif %}
	<div id="readonly">
	  <ul class="list-unstyled">
		<li>First name: <strong>{{user.first_name}}</strong></li>
		<li>Last name: <strong>{{user.last_name}}</strong></li>
		<li>Username: <strong>{{user.username}}</strong></li>
		<li>Newsletter: <strong>{{user.profile.newsletter}}</strong></li>
	  </ul>
	  <button class="btn btn-primary" id="editprofile">Edit</button>
	</div>
	<div id="editform">
	  <form class="form-horizontal" action="/accounts/profile/" method="post">
		{% csrf_token %}
		{% crispy form horiz-form-helper %}
		<div class="form-group">
		  <div class="col-sm-offset-2 col-sm-6">
			<button class="btn btn-default" id="cancelbtn" type="button">Cancel</button>	  
			<button class="btn btn-primary" type="submit" id="save">Save</button>
		  </div>
		</div>
	  </form>
	</div>
</div>
{% endblock tabcontents %}
{% block extrascripts %}
<script>
$(document).ready(function() {
{% if show_form %}
$("#readonly").hide();
{% else %}
$("#editform").hide();
{% endif %}
$("#editprofile").click(function(){$("#editform").show(); $("#readonly").hide()});
$("#cancelbtn").click(function(){$("#editform").hide(); $("#readonly").show()});
});
</script>
{% endblock extrascripts %}
