	<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="saveModalLabel">Save this as a favorite search</h4>
		  </div>
		  <form role="form" action="{{ abs_url }}" method="post">
			<div class="modal-body">
			  <p>Favorite searches make it easy to manage your car search. As suitable cars enter (and leave) the market this list will automatically update; check back any time. </p>
			  {% if not user.is_authenticated %}
			  <p>This saved search will only accessible on this computer, and will be lost if you clear your cookies. Sign up for a Carbyr account or log into your existing Carbyr account to make this search available from any of your devices, track your favorite cars in one simple dashboard, and much more!</p>
			  {% endif %}
			  <p>You can also choose to receive updates on saved searches through RSS or email [coming soon!].</p>
			  {% csrf_token %}
			  <input type="hidden" name="action" value="save_query"/>
			  <input type="hidden" name="query_ref" value="{{ query_ref }}"/>
			  <div class="modal-input">
				<label class="modal-label" for="query_descr">Name the search:</label>
				<input type="text" value="{{ query_descr }}" name="query_descr" id="query_descr"/>
			  </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			  <button type="submit" class="btn btn-primary">Save</button>
			</div>
		  </form>		
		</div>
	  </div>
	</div>
	<div class="modal fade" id="unSaveModal" tabindex="-1" role="dialog" aria-labelledby="unSaveModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="unSaveModalLabel">Confirm</h4>
		  </div>
		  <form role="form" action="{{ abs_url }}" method="post">
			<div class="modal-body">
			  <p>Confirm removing favorite search: {{ query_descr }}? </p>
			  {% csrf_token %}
			  <input type="hidden" name="action" value="unsave_query"/>
			  <input type="hidden" name="query_ref" value="{{ query_ref }}"/>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			  <button type="submit" class="btn btn-primary">Confirm</button>
			</div>
		  </form>		
		</div>
	  </div>
	</div>
	<div class="modal fade" id="markReadModal" tabindex="-1" role="dialog" aria-labelledby="markReadModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="markReadModalLabel">Confirm</h4>
		  </div>
		  <form role="form" action="{{ abs_url }}" method="post">
			<div class="modal-body">
			  <p>Mark these {{ query_descr }} results as seen?</p>
			  <p>If you do, these cars will not appear when you run this query again. However you can always display all matching cars, including ones marked as seen, by clicking on the 'All listings' button.)</p>
			  {% csrf_token %}
			  <input type="hidden" name="action" value="mark_read"/>
			  <input type="hidden" name="query_ref" value="{{ query_ref }}"/>
			  <input type="hidden" name="query_date" value="{{ query_timestamp }}"/>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			  <button type="submit" class="btn btn-primary">Confirm</button>
			</div>
		  </form>		
		</div>
	  </div>
	</div>
	<div class="modal fade" id="favCarModal" tabindex="-1" role="dialog" aria-labelledby="favCarModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="favCarModalLabel">Saved!</h4>
		  </div>
		  <div class="modal-body">
			<p>You have added this <span id='favcartitle'>car</span> to your favorite cars list.</p>
			<p>You can view your favorite cars at any time on your <a href="/dashboard">dashboard</a>.</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="unFavCarModal" tabindex="-1" role="dialog" aria-labelledby="unFavCarModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="unFavCarModalLabel">Confirm</h4>
		  </div>
		  <form role="form" id="unfavform" action="/ajax/unsavecar" method="post">
			<div class="modal-body">
			  <p>Really remove this <span id='unfavcartitle'>car</span> from your favorite cars list?</p>
			  <p>You can view your favorite cars at any time on your <a href="/dashboard">dashboard</a>.</p>
			  {% csrf_token %}
			  <input type="hidden" name="listing_id" id="unfavlisting_id" value=""/>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			  <button type="submit" class="btn btn-primary">Confirm</button>
			</div>
		  </form>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="editNoteModal" tabindex="-1" role="dialog" aria-labelledby="editNoteModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="editNoteModalLabel">Notes</h4>
		  </div>
		  <form role="form" id="noteform" action="/ajax/addnote" method="post">
			<div class="modal-body">
			  <p>Add your notes about this <span id='notecartitle'>car</span>. These notes are private, visible only to you:</p>
			  {% csrf_token %}
			  <input type="hidden" name="listing_id" id="notelisting_id" value=""/>
			  <div class="modal-input">
				<textarea class="form-control" rows="5" name="listing_note" id="note_text" value="" autofocus></textarea>
			  </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			  <button type="submit" class="btn btn-primary">Confirm</button>
			</div>
		  </form>		
		</div>
	  </div>
	</div>
	<div class="modal fade" id="flagCarModal" tabindex="-1" role="dialog" aria-labelledby="flagCarModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="flagCarModalLabel">Confirm</h4>
		  </div>
		  <form role="form" id="flagform" action="/ajax/flagcar" method="post">
			<div class="modal-body">
			  <p>You are flagging this <span id='flagcartitle'>car</span> listing.</p>
			  <p>It will no longer appear in any of your query results.</p>
			  <p>Carbyr also uses this information to filter postings and improve the quality of current and future results. Can you please let us know why you are flagging this listing?</p>
			  {% csrf_token %}
			  <input type="hidden" name="listing_id" id="flaglisting_id" value=""/>
			  <div class="radio modal-input">
				<label>
				  <input type="radio" name="reason" id="reason_uninteresting" value="U" checked>
				  Just not interesting
				</label>
			  </div>
			  <div class="radio modal-input">
				<label>
				  <input type="radio" name="reason" id="reason_noncar" value="N">
				  Not a car listing
				</label>
			  </div>
			  <div class="radio modal-input">
				<label>
				  <input type="radio" name="reason" id="reason_incorrect" value="I">
				  Incorrect or misleading information
				</label>
			  </div>
			  <div class="radio modal-input">
				<label>
				  <input type="radio" name="reason" id="reason_fraud" value="F">
				  Suspected fraud
				</label>
			  </div>
			  <div class="radio modal-input">
				<label>
				  <input type="radio" name="reason" id="reason_sold" value="S">
				  Sold or no longer available
				</label>
			  </div>
			  <div class="radio modal-input">
				<label>
				  <input type="radio" name="reason" id="reason_other" value="O">
				  Other: <input type="text" name="other_reason" value=""/>
				</label>
			  </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			  <button type="submit" class="btn btn-primary">Confirm</button>
			</div>
		  </form>		
		</div>
	  </div>
	</div>
